body {
  background-repeat:no-repeat;
  background-size: 100%;
  background-image: url('imagenes/background.jpg');
}
.reserva{
  background-color:white;
  border:2px solid gray;
  width: 1000px;
  text-align:center;
}

.CI{
  width: 1000px;
  height: 288px;
  border:2px solid gray;
  background-image: url('imagenes/Banner_default.png');
}

.tabla{
  width: 1000px;
  border:1px solid gray;
  background-color:gray;
}

.color_w{
color: white;
}

