body {
background-repeat:repeat-y;
background-clip:content-box;
  background-size: 100%;
  background-image: url('imagenes/background.jpg');
}
.reserva{
  background-color:white;
  border:2px solid gray;
  width: 1000px;
  text-align:center;
}

.CI{
  width: 1000px;
  height: 288px;
  border:2px solid gray;
  background-image: url('imagenes/Banner_default.png');
}

.tabla{
  width: 1000px;
  border:1px solid gray;
  background-color:gray;
}

.color_w{
color: white;
}

.izquierda ul {
       font:bold 11px Verdana, Arial, Helvetica, sans-serif;
       color:#586885;
       line-height: 140%;
       text-transform:capitalize;
}

.izquierda{
       width:100px;
       height:auto;
       background-color:#EFEFEF;
       border-style:solid;
       border-width:1px;
       border-color:#000000;
       margin:0 0 0 5px;
       float:left;
       padding:3px;
}

#container {
       background-color:#DDE6AC;
       border-style:solid;
       border-color:#000000;
       margin: 0 auto;
       width:700px;
       height:auto;
}
