body {
  background-image: url('imagenes/background.jpg');
}

.CI{
  width: 1000px;
  height: 288px;
  border:5px solid white;
  background-image: url('imagenes/Banner_Instalaccion.png');
}

.FORM{
  background-color:WHITE;
  border-width:5px;
  border-style:solid;
  border-color:white;
  text-align:center;
  margin:0px 0px;
  width: 1000px;
}

.text_l{
text-align:left;
}

.text_r{
text-align:right;
}

.text_c{
text-align:center;
}
